[class*="imgwall-wrapper"] {
    width: 100%;
}

[class*="imgwall-row"]{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

[class*="imgwall-cell"],  [class*="imgwall-cell"] figure {
  margin: 0;
}

[class*="imgwall-cell"] img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[class*="imgwall-cell"] svg {
  width: 100%;
  height: auto;
}

[class*="imgwall-responsive"] {
  display: none;
  flex-wrap: nowrap;
}

.imgwall-break {
  width: 100%;
  height: 0;
}

.imgwall-mobile-break {
  width: 100%;
  height: 0;
}

@media (min-width: 768px) {
  .imgwall-mobile-break {
    display: none;
  }
}

/*----------------------
    Styling Classes
----------------------*/
.imgwallattr-wrap {
    flex-wrap: wrap;
}
.imgwallattr-nowrap {
    flex-wrap: nowrap;
}
.imgwallattr-justifyleft {
    justify-content: flex-start;
}
.imgwallattr-justifyright {
    justify-content: flex-end;
}
.imgwallattr-justifycenter {
    justify-content: center;
}
.imgwallattr-justifyaround {
    justify-content: space-around;
}
.imgwallattr-justifybetween {
    justify-content: space-between;
}
.imgwallattr-justifyevenly {
    justify-content: space-evenly;
}
.imgwallattr-justifynone {
    justify-content: initial;
}